{% extends "base.html" %}

{% block content %}
<h1>НОВОСТИ</h1>
{% for item in news%}
<div class="card">
    <div class="card-body">
        <!-- Кнопки редактирования и удаления -->
        {% if current_user.is_authenticated and current_user == item.user %}
        <div>
            <a href="/news/{{ item.id }}" class="btn btn-warning">Изменить</a>
            <a href="/news_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
        </div>
        {% endif %}
        <!-- Автор новости -->
        <div class="card-header">Автор: {{ item.user.name }}</div>
        <!-- Тема и текст новости -->
        <div>
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">{{ item.content }}</p>
        </div>
        <!-- Дата написания новости -->
        <div class="card-footer text-muted">Дата написания: {{item.created_date}}</div>
        <!-- Кнопка для добавления комментария -->
        {% if current_user.is_authenticated %}
        <div class="card-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#CommentModal{{item.id}}">
                Добавить комментарий
            </button>
            <!-- Модальное окно для добавления комментария -->
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
                <div class="modal fade" id="CommentModal{{item.id}}" tabindex="-1" role="dialog"
                     aria-labelledby="CommentModal{{item.id}}Title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="CommentModal{{item.id}}Title">
                                    Добавление комментария
                                </h5>
                                <p>
                                    {{form.news_id(class="form-control", value=item.id)}}
                                </p>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Комментарий:</p>
                                <p>{{form.text(class="form-control")}}</p>
                                {% for error in form.text.errors %}
                                <p content="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                <p>{{form.submit(type="submit", class="btn btn-primary")}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
        <!-- Цикл для отображения комментариев -->
        {%for comment in comments%}
        {% if comment.news_id == item.id %}
        <!-- Медиа объект для комментариев -->
            {{ form_del.hidden_tag() }}
            {{ form_del.csrf_token }}
            <div class="media">
                <img src="/static/img/user_avatar.png" width="64" height="64" class="align-self-center mr-3" alt="">
                <div class="media-body">
                    <h5 class="mt-0">{{ comment.user.name }}</h5>
                    <p>{{ comment.text }}</p>
                    <p class="text-muted">{{ comment.comment_date }}</p>
                </div>
                {% if current_user.is_authenticated and current_user == comment.user %}
                <button type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#CommentDelete{{comment.id}}">
                    ×
                </button>
                <form action="" method="post" novalidate>
                    {{ form_del.hidden_tag() }}
                    {{ form_del.csrf_token }}
                    <div class="modal fade" id="CommentDelete{{comment.id}}" tabindex="-1" role="dialog"
                         aria-labelledby="CommentDelete{{comment.id}}Title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="CommentDelete{{comment.id}}Title">
                                        Удаление комментария
                                    </h5>
                                    <p>
                                        {{form_del.comment_id(class="form-control", value=comment.id)}}
                                    </p>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Вы уверены что хотите удалить комментарий?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                    <p>{{form_del.submit(type="submit", class="btn btn-danger")}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}